<!-- main accent button -->

<button class="main-accent-btn btn">Load more</button>

<!-- main light button -->

<button class="main-light-btn btn">Load more</button>

<!-- main accent small button -->

<button class="main-accent-sml-btn btn">Load more</button>

<!-- main light small button -->

<button class="main-light-sml-btn btn">Load more</button>

<!-- "Remove from my library" with dark background -->

<button class="rm-dark-bcg-btn btn">Remove from my library</button>

<!-- "Remove from my library" with light background -->

<button class="rm-light-bcg-btn btn">Remove from my library</button>

<!-- "Remove from my library" with light background and gradient border -->

<button class="rm-light-bcg-grd-btn btn">Remove from my library</button>

<!-- "Remove from my library" with dark background and  without gradient border -->

<button class="rm-dark-bcg-nogrd-btn btn">Remove from my library</button>