<div class="film-card">
    <div class="film-card-info">
      <p class="film-name">THE SUPER MARIO BROS</p>
      <div class="film-feature">
        <div class="film-wrap">
          <p class="film-genre">Drama</p>
          <p class="film-delimiter">|</p>
          <p class="film-year">2023</p>
        </div>
      </div>
        <!-- <div class="film-rating"> -->
        <ul class="film-rating">
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/mobile-star-full.svg"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/mobile-star-full.svg"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/mobile-star-full.svg"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/mobile-star-full.svg"></use>
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/mobile-star-full.svg"></use>
            </svg>
          </li>
        </ul>
        <!-- </div> -->
  
    </div>
  </div>
  