<div class="film-card">
    <div class="film-card-info">
      <p class="film-name">THE SUPER MARIO BROS</p>
      <div class="film-wrap">
        <p class="film-feature">Drama | 2023</p>
        <ul class="film-rating">
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
          </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
          </li>
          <li class="rating-item">
            <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
            </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-half.svg" alt="">
          </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-empty.svg" alt="">
          </li>

          <!-- <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/icons/stars/sprite.svg#star-full">
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/icons/stars/sprite.svg#star-full">
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/icons/stars/sprite.svg#star-full">
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/icons/stars/sprite.svg#star-half">
            </svg>
          </li>
          <li class="rating-item">
            <svg class="rating-icon">
              <use href="/src/images/icons/stars/sprite.svg#star-empty">
            </svg>
          </li> -->

        </ul>
      </div>      
    </div>
  </div>
  