  <div class="film-card" id="">
    <div class="img-ovelay"></div>
    <img class ="film-poster" src="/src/images/components/desktop-picture.png" alt="">
    <div class="film-card-info">
      <p class="film-name">THE SUPER MARIO BROS</p>
      <div class="film-wrap">
        <p class="film-feature">Drama | 2023</p>
        <ul class="film-rating">
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
          </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
          </li>
          <li class="rating-item">
            <img class="rating-icon" src="./images/icons/stars/star-full.svg" alt="">
            </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-half.svg" alt="">
          </li>
          <li class="rating-item">
          <img class="rating-icon" src="./images/icons/stars/star-empty.svg" alt="">
          </li>
        </ul>
      </div>      
    </div>
  </div>