/* ======================== MOBILE STYLES ======================== */
.home-hero {
  background-color: var(--dark-color);
}

body.light .home-hero {
  background-color: var(--light-color);
}

.home-hero-content {
  padding-top: 40px;
  padding-bottom: 80px;
}

.home-hero > .container {
  position: relative;
  height: 380px;
  width: 320px;
  background-image: linear-gradient(
      86.77deg,
      #111111 10.38%,
      rgba(17, 17, 17, 0) 65.61%
    ),
    url(/src/images/basic-hero/mobile/basic-hero-1x.jpg);
  background-color: #111111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 76px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .home-hero .container {
    background-image: linear-gradient(
        86.77deg,
        #111111 10.38%,
        rgba(17, 17, 17, 0) 65.61%
      ),
      url(/src/images/basic-hero/mobile/basic-hero-2x.jpg);
  }
}
.home-hero-title {
  margin-top: 0;
  margin-bottom: 0;
  width: 199px;
  font-family: inherit;
  color: var(--light-color);
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 1.18;
}

.home-hero-description {
  width: 166px;
  margin-top: 8px;
  color: var(--dark-theme-light-text-color);
  font-family: inherit;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 1.14;
}

.home-hero-description span {
  display: none;
}

.home-hero-content .btn {
  margin-top: 20px;
  font-size: 12px;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.home-hero-api-movie-bg {
  width: 320px;
  height: 380px;
  overflow: hidden;
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-hero-api-movie-con {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 380px;
  z-index: 2;
  background: linear-gradient(
    86.47deg,
    #111111 33.63%,
    rgba(17, 17, 17, 0) 76.86%
  );
  padding-top: 40px;
  padding-left: 20px;
}

.home-hero-api-movie-bg img {
  width: 320px;
  height: 380px;
  object-fit: cover;
}

.home-hero-api-movie-name {
  font-style: normal;
  font-weight: var(--bold);
  font-size: 32px;
  line-height: 1.18;
  color: var(--light-color);
  margin: 0;
}

.home-hero-api-movie-rating {
  width: 96px;
  /* height: 16px; */
  /* color: var(--light-color); */
  margin-top: 12px;
}

.home-hero-api-movie-description {
  margin-top: 20px;
  font-style: normal;
  font-weight: var(--regular);
  font-size: 14px;
  line-height: 1.18;
  color: var(--dark-theme-light-text-color);
  width: 177px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.home-hero-api-movie-btns {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.home-hero-api-movie-btns .main-accent-sml-btn {
  font-size: 12px;
  font-weight: var(--medium);
  line-height: 1.16;
  position: relative;
  /* margin: 1px; */
}

.home-hero-api-movie-btns .main-accent-sml-btn::before {
  content: '';
  z-index: -1;
  background: var(--linear-gradient-first);
  border-radius: 74px;
  margin: -1px;
  position: absolute;
  inset: 0;
}

.home-hero-api-movie-btns .main-accent-sml-btn:hover {
  color: var(--accent-color);
  background: var(--dark-color);
  border: none;
  display: inline-block;
}

.home-hero-api-movie-btns .rm-light-bcg-btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 12px;
  font-weight: var(--medium);
  line-height: 1.16;
}

.home-hero-api-movie-btns .rm-light-bcg-btn:hover {
  color: var(--accent-color);
  background: black;
  border: 1px solid #111;
}

.film-rating-hero {
  display: flex;
  column-gap: 4px;
}

.rating-item-hero {
  width: 16px;
  height: 16px;
}

.rating-icon-hero {
  width: 15px;
  height: 14px;
}

.home-hero-content .main-accent-sml-btn {
  font-size: 12px;
  font-weight: var(--medium);
  line-height: 1.16;
  position: relative;
}
.home-hero-content .main-accent-sml-btn::before {
  content: '';
  z-index: -1;
  background: var(--linear-gradient-first);
  border-radius: 74px;
  margin: -1px;
  position: absolute;
  inset: 0;
}

.home-hero-content .main-accent-sml-btn:hover {
  color: var(--accent-color);
  background: var(--dark-color);
  border: none;
  display: inline-block;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .home-hero-api-movie-name {
    font-size: 44px;
  }

  .home-hero-api-movie-rating {
    width: 116px;
    /* height: 20px; */
    /* color: var(--light-color); */
  }

  .home-hero-api-movie-bg {
    width: 482px;
    height: 372px;
    top: 0;
    right: 0;
    left: unset;
    transform: translate(0);
  }

  .home-hero-api-movie-con {
    width: 270px;
    height: 372px;
    top: 0;
    left: unset;
    transform: translate(0, 0);
    padding-left: 0px;
    background-color: var(--dark-color);
    padding-top: 36px;
  }

  .home-hero-api-movie-description {
    font-weight: var(--regular);
    font-size: 14px;
    line-height: 1.14;
    width: 254px;
    height: 49px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .home-hero-api-movie-btns .btn {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .home-hero-api-movie-bg img {
    width: 482px;
    height: 372px;
  }

  .home-hero-api-movie-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      81.57deg,
      #111111 12.76%,
      rgba(17, 17, 17, 0) 72.65%
    );
  }

  .home-hero-content {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .home-hero > .container {
    height: 372px;
    width: 768px;
    /* padding-top: 62px;
    padding-bottom: 62px; */
    background-position-x: 200px;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        82.55deg,
        #111111 10.6%,
        rgba(17, 17, 17, 0) 72.95%
      ),
      url(/src/images/basic-hero/tablet/basic-hero-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .home-hero > .container {
      background-image: linear-gradient(
          82.55deg,
          #111111 10.6%,
          rgba(17, 17, 17, 0) 72.95%
        ),
        url(/src/images/basic-hero/tablet/basic-hero-2x.jpg);
    }
  }
  .home-hero-title {
    margin-bottom: 0;
    width: 357px;
    font-size: 44px;
  }
  .home-hero-description {
    width: 357px;
  }

  .home-hero-description span {
    display: block;
  }

  .home-hero-content .btn {
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.42;
  }
  .home-hero-api-movie-btns .btn {
    margin-top: 0;
  }

  .rating-item-hero {
    width: 20px;
    height: 20px;
  }

  .rating-icon-hero {
    width: 18.75px;
    height: 17.5px;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
  .home-hero-api-movie-bg {
    width: 802px;
    height: 660px;
  }

  .home-hero-api-movie-bg img {
    width: 802px;
    height: 660px;
  }

  .home-hero-api-movie-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: linear-gradient(
      83.06deg,
      #111111 11.91%,
      rgba(17, 17, 17, 0) 73.11%
    );
  }

  .home-hero-api-movie-con {
    width: 478px;
    height: 660px;
    padding-left: 103px;
    padding-top: 118px;
  }
  .home-hero-api-movie-name {
    font-size: 64px;
    line-height: 1.17;
  }

  .home-hero-api-movie-rating {
    margin-top: 16px;
    width: 136px;
    /* height: 24px; */
  }

  .home-hero-api-movie-description {
    font-weight: var(--regular);
    font-size: 16px;
    line-height: 1.19;
    width: 367px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .home-hero-api-movie-btns {
    margin-top: 36px;
  }

  .home-hero-api-movie-btns .btn {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
  }

  .home-hero-content {
    padding-top: 169px;
    padding-bottom: 169px;
  }

  .home-hero > .container {
    height: 660px;
    width: 1280px;
    background-position-x: 265px;
    /* background-position-x: 200px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
        82.55deg,
        #111111 10.6%,
        rgba(17, 17, 17, 0) 72.95%
      ),
      url(/src/images/basic-hero/desktop/basic-hero-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .home-hero > .container {
      background-image: linear-gradient(
          82.55deg,
          #111111 10.6%,
          rgba(17, 17, 17, 0) 72.95%
        ),
        url(/src/images/basic-hero/desktop/basic-hero-2x.jpg);
    }
  }

  .home-hero-title {
    width: 464px;
    font-size: 64px;
    line-height: 1.17;
  }
  .home-hero-description {
    width: 464px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.18;
  }

  .home-hero-content .btn {
    /* position: unset; */
    font-size: 18px;
  }

  .rating-item-hero {
    width: 24px;
    height: 24px;
  }

  .rating-icon-hero {
    width: 22.5px;
    height: 21px;
  }
}
