/* ======================== MOBILE STYLES ======================== */
:root {
  --main-line-height: 1.19;
  --main-font-size: 16px;
}

.home-trends {
  background-color: var(--dark-color);
  padding-top: 40px;
  padding-bottom: 32px;
}

.home-trends-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.home-trends-title {
  font-weight: var(--medium);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  text-transform: uppercase;
  color: var(--light-color);
  margin: 0;
}

.home-trends-btn {
  background-color: inherit;
  border: none;
  color: var(--accent-color);
  font-weight: var(--medium);
  font-size: var(--main-font-size);
  font-family: inherit;
  line-height: var(--main-line-height);
  margin: 0;
  padding: 0;
}

.home-trends-card-poster{
  position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    transition-property: 0.5 ease;
    max-width: 395px;
      max-height: 574px;
      border-radius: 5px;
}
.home-trends-card-poster:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 5px 1px rgba(255, 107, 8, 0.42);
}

body.light .home-trends{
  background-color: var(--light-color);
}

body.light .home-trends-title {
  color: var(--dark-color);
}
.home-trends-card-poster{
  position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    transition-property: 0.5 ease;
    max-width: 395px;
      max-height: 574px;
      border-radius: 5px;
}

.home-trends-card-poster:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 5px 1px rgba(255, 107, 8, 0.42);
  }

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .home-trends {
    padding-top: 52px;
    padding-bottom: 44px;
  }

  .home-trends-title, .home-trends-btn {
    font-size: 24px;
    line-height: 1.16;
  }

  .home-trends-list {
    display: flex;
    gap: 16px;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
  .home-trends {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .home-trends-title, .home-trends-btn {
    font-size: 20px;
    line-height: 1.18;
  }
  .home-trends-wrap {
    margin-bottom: 28px;
  }

  .film-card {
    transition: box-shadow 250ms var(--action-transition);
  }

  .film-card:hover {
    box-shadow: 1px 1px 14px 4px #ff6b086b;
  }
}
