/* ======================== MOBILE STYLES ======================== */

.film-card{
    position: relative;
    width: 280px;
    height: 406px;
    border-radius: 5px;
    margin: 0;
}

.img-ovelay{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
}

.film-poster{
    width: 100%;
    height: 100%;
}

.film-card-info{
    max-width: 100%;
    position: absolute;
    z-index: 2;
    right: 12px;
    left: 12px;
    bottom: 12px;
    font-size: 12px;
    line-height: calc(20 / 12);
    font-weight: var(--medium);
}

.film-name{
    text-transform: uppercase;
    color: var(--light-color);
    margin: 0;
}

.film-wrap{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin: 0;
}

.film-feature{
    color: var(--dark-theme-dark-text-color);
}

.film-rating{
    height: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 12px;
    bottom: 16px;
    padding: 0;
    margin: 0;
    column-gap: 4px;
}

.rating-item{
    width: 14px;
    height: 100%;
}

.rating-icon{
    width: 13.12px;
    height: 12.25px;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width:768px)  {
    /* .container прописувати не потрібно */

    .film-card{
        width: 224px;
        height: 325px;       }
    
    .film-card-info{
        line-height: calc(18 / 12);
    }
    
    .rating-item{
        width: 10px;
        height: 10px;
    }
    
    .rating-icon{
        width: 9.37px;
        height: 8.75px;
    }

}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width:1280px)  {
    /* .container прописувати не потрібно */
    .film-card{
        width: 395px;
        height: 574px;    }

    .film-card-info{
        right: 20px;
        left: 20px;
        bottom: 20px;
        font-size: 20px;
        line-height: calc(23 / 20);
    }
    
    .rating-item{
        width: 18px;
        height: 18px;
    }
    
    .rating-icon{
        width: 16.87px;
        height: 15.75px;
    }
}