  <div class="modal-backdrop is-hidden" data-modal-team>
    <div class="modal-students-info">
      <div class="btn-close-wrapper">
        <button type="button" class="btn-close-modal-team" data-modal-team-close>
          <svg width="22" height="22" class="modal-team-icon-close">
              <use href="/src/images/icons/other-icons.svg#closer-icon"></use>
          </svg>
      </button>
      </div>
       
  
      <h2 class="title-team-name">DevTeam</h2>
  
     
        <div class="photo-slider-modal-team team-list">
          <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/nadzyga-desktop.jpg 1x, /src/images/team-members/desktop/nadzyga-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/nadzyga-tablet.jpg 1x, /src/images/team-members/tablet/nadzyga-tablet@2x.jpg"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/nadzyga-mobile.jpg 1x, /src/images/team-members/mobile/nadzyga-mobile@2x.jpg"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/nadzyga-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
          <div class="team-member-info">
            <a class="github-link" href="https://github.com/Sanya486" target="_blank">
              <svg class="github-icon" width="23" height="23">
                <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
              </svg>
            </a>
            <h3 class="team-member-name">Олександр Надзуга</h3>
            <p class="team-member-role">team lead</p>
          </div>
          </div> 
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/gorskyi-desktop.jpg 1x, /src/images/team-members/desktop/gorskyi-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/gorskyi-tablet.jpg 1x, /src/images/team-members/tablet/gorskyi-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/gorskyi-mobile.jpg 1x, /src/images/team-members/mobile/gorskyi-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/gorskyi-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/demonikos" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Дмитро Горський</h3>
                <p class="team-member-role">scram master</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/bratus-desktop.jpg 1x, /src/images/team-members/desktop/bratus-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/bratus-tablet.jpg 1x, /src/images/team-members/tablet/bratus-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/bratus-mobile.jpg 1x, /src/images/team-members/mobile/bratus-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/bratus-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/Vitalii1991" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Віталій Братусь</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/gubarenko-desktop.jpg 1x, /src/images/team-members/desktop/gubarenko-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/gubarenko-tablet.jpg 1x, /src/images/team-members/tablet/gubarenko-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/gubarenko-mobile.jpg 1x, /src/images/team-members/mobile/gubarenko-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/gubarenko-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/xlapushka" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Юлія Губаренко</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/ruduk-desktop.jpg 1x, /src/images/team-members/desktop/ruduk-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/ruduk-tablet.jpg 1x, /src/images/team-members/tablet/ruduk-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/ruduk-mobile.jpg 1x, /src/images/team-members/mobile/ruduk-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/ruduk-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/Ruduke" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Дмитро Рудюк</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/fedchenko-desktop.jpg 1x, /src/images/team-members/desktop/fedchenko-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/fedchenko-tablet.jpg 1x, /src/images/team-members/tablet/fedchenko-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/fedchenko-mobile.jpg 1x, /src/images/team-members/mobile/fedchenko-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/fedchenko-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/ifedchenko" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Юрій Федченко</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/turash-desktop.jpg 1x, /src/images/team-members/desktop/turash-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/turash-tablet.jpg 1x, /src/images/team-members/tablet/turash-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/turash-mobile.jpg 1x, /src/images/team-members/mobile/turash-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/turash-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/DarynaTurash" target="_blank">
                  <svg class="github-icon">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Дарина Тураш</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/shpak-desktop.jpg 1x, /src/images/team-members/desktop/shpak-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/shpak-tablet.jpg 1x, /src/images/team-members/tablet/shpak-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/shpak-mobile.jpg 1x, /src/images/team-members/mobile/shpak-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/shpak-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/DariShpak" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Дарія Шпак</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/shpringer-desktop.jpg 1x, /src/images/team-members/desktop/shpringer-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/shpringer-tablet.jpg 1x, /src/images/team-members/tablet/shpringer-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/shpringer-mobile.jpg 1x, /src/images/team-members/mobile/shpringer-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/shpringer-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="https://github.com/Shprinher" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Роман Шпрінгер</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide">
              <picture class="team-member-photo">
                <source
                    srcset="/src/images/team-members/desktop/savchuk-desktop.jpg 1x, /src/images/team-members/desktop/savchuk-desktop@2x.jpg 2x"
                    loading="lazy" media="(min-width: 1280px)">
                <source
                    srcset="/src/images/team-members/tablet/savchuk-tablet.jpg 1x, /src/images/team-members/tablet/savchuk-tablet@2x.jpg 2x"
                    loading="lazy" media="(min-width: 768px)">
                <source
                    srcset="/src/images/team-members/mobile/savchuk-mobile.jpg 1x, /src/images/team-members/mobile/savchuk-mobile@2x.jpg 2x"
                    loading="lazy" media="(max-width: 767px)">
                <img src="/src/images/team-members/mobile/savchuk-mobile.jpg" loading="lazy"
                    alt="" class="rounded-photo">
            </picture>
              <div class="team-member-info">
                <a class="github-link" href="" target="_blank">
                  <svg class="github-icon" width="23" height="23">
                    <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                  </svg>
                </a>
                <h3 class="team-member-name">Ігор Савчук</h3>
                <p class="team-member-role">front-end developer</p>
              </div>
            </div>
          
            <div class="swiper-slide"> 
              <picture class="team-member-photo">
              <source
                  srcset="/src/images/team-members/desktop/shchyrova-desktop.jpg 1x, /src/images/team-members/desktop/shchyrova-desktop@2x.jpg 2x"
                  loading="lazy" media="(min-width: 1280px)">
              <source
                  srcset="/src/images/team-members/tablet/shchyrova-tablet.jpg 1x, /src/images/team-members/tablet/shchyrova-tablet@2x.jpg 2x"
                  loading="lazy" media="(min-width: 768px)">
              <source
                  srcset="/src/images/team-members/mobile/shchyrova-mobile.jpg 1x, /src/images/team-members/mobile/shchyrova-mobile@2x.jpg 2x"
                  loading="lazy" media="(max-width: 767px)">
              <img src="/src/images/team-members/mobile/shchyrova-mobile.jpg" loading="lazy"
                  alt="" class="rounded-photo">
          </picture>
            <div class="team-member-info">
              <a class="github-link" href="https://github.com/elisbet017" target="_blank">
                <svg class="github-icon" width="23" height="23">
                  <use href="/src/images/icons/other-icons.svg#icon-github-mark"></use>
                </svg>
              </a>
              <h3 class="team-member-name">Єлизавета Щирова</h3>
              <p class="team-member-role">front-end developer</p>
            </div>
          </div>
        </div>

      <div class="btn-wrapper-slider-modal-team">
        <button type="button" class="btn-to-left-modal-team">
          <svg width="25" height="25" class="icon-left">
            <use href="/src/images/icons/other-icons.svg#left-arrow-icon"></use>
          </svg>
        </button>
        <button type="button" class="btn-to-right-modal-team">
          <svg width="25" height="25" class="icon-right">
            <use href="/src/images/icons/other-icons.svg#right-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

