
    <section class="modal-film-info">
    <div class="container">  
      <div class="film-info" data-modal>
        
        <button class="close-modal" type="button">
          <!-- <svg width="24" height="24">
            <use
              href="./images/icons/other-icons.svg#closer-icon"
            ></use>
          </svg> -->
        </button> 

        <div> 
          <!-- <img src="" alt="the poster of the movie you have chosen"/> -->
        </div>
        <div>
          <h1 class="movie-title">John Wick: Chapter 4</h1>
          <div class="movie-info">
            <div class="info">
              <ul>
                <li>Vote / Vote</li>
                <li>Popularity</li>
                <li>Genre</li>
              </ul>
            </div>
            <div class="params">
              <ul>
                <li>
                  <div class="vote"> 7.3 </div>
                  /
                  <div class="votes"> 1260 </div>
                </li>
                <li><span class="popularity">100.2</span></li>
                <li><span class="genre">Action Thriller Crime</span> </li>  
              </ul>  
            </div>
          </div>
          <div class="about">
            <h2>ABOUT</h2>
            <p>
              John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth instalment of the series. With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.
            </p>
          </div>  
          <div class="btn-list">
            <button class="main-accent-sml-btn btn modal">Watch trailer</button>
            <button class="rm-dark-bcg-btn btn modal">Add to my library</button>
          </div>
          </div>
       </div>
    </div>
    </section>  


  
  
