<div class="trailer-modal-backdrop is-hidden">
  <div class="trailer-modal">
    <button type="button" class="close-trailer-btn">
      <svg class="close-modal-icon" width="10.5" height="10.5">
        <use href="./images/icons/other-icons.svg#closer-icon"></use>
      </svg>
    </button>
    <div class="trailer-modal-content">

      <div class="trailer-error-mode-content is-hidden">

        <div class="trailer-error-info">
          <p>OOPS...</p>
      <p>We are very sorry!</p>
      <p>But we couldn't find the trailer.</p>
        </div>
        <div class="error-img-placeholder is-hidden">
             <img
          class="trailer-placeholder-default"
          srcset="images/trailer-placeholder/desktop/trailer-placeholder-2@2x.png 2x"
          src="images/trailer-placeholder/desktop/trailer-placeholder-1@1x.png"
          alt="Trailer is not found"
          />
         </div>
      </div>
</div>
    </div>
  </div>
