<section class="modal-film-info modal-backdrop is-hidden">
  <div class="container">  
    <div class="film-info" data-modal>
        
      <button class="close-modal" type="button">
        <svg width="10.5" height="10.5">
          <use
            href="./images/icons/other-icons.svg#closer-icon"
          ></use>
          </svg>
      </button> 

      <div class="flex">
        <div class="poster"> 
          <img src="#" class="poster-img" alt="the poster of the movie you have chosen"/>
        </div>

        <div>
          <h1 class="movie-title">Movie Title</h1>

          <div class="movie-info">
            <div class="info">
              <ul>
                <li>Vote / Votes</li>
                <li>Popularity</li>
                <li>Genre</li>
              </ul>
            </div>

            <div class="params">
              <ul>
                <li>
                  <div class="vote"> </div>
                  /
                  <div class="votes"> </div>
                </li>
                <li><span class="popularity"></span></li>
                <li><span class="genre"></span> </li>  
              </ul>  
            </div>
          </div>  

          <div class="about">
            <h2>ABOUT</h2>
            <p></p>
          </div>  

          <div class="btn-list">
            <button class="main-accent-sml-btn btn modal" id="btn-watch-treiller">Watch trailer</button>
            <button class="rm-dark-bcg-btn btn modal" id="btn-add-to-my-library">Add to my library</button>
          </div>
        </div>
      </div>  

    </div>
  </div>
</section>  

