/* ======================== MOBILE STYLES ======================== */

body.light .container-library {
  color: var(--dark-color);
}

.container-library {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  color: var(--light-color);

  line-height: 1.4;
}

.library-empty__mistake {
  margin-bottom: 20px;
}

.main-accent-sml-btn.library {
  margin-right: auto;
  margin-left: auto;
}

.library-film-list {
  padding-top: 16px;
  padding-bottom: 40px;
}

.library-film-list .card-list-search-result {
  margin: 0;
}

.library-genres-empty {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--light-color);
}

body.light .library-genres-empty {
  color: var(--dark-color);
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .library-film-list {
    padding-top: 48px;
    padding-bottom: 96px;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
  .main-accent-sml-btn.library {
    transition: box-shadow 250ms var(--action-transition);
  }

  .main-accent-sml-btn.library:hover {
    box-shadow: 1px 1px 14px 4px #ff6b086b;
  }
}
