/* ======================== MOBILE STYLES ======================== */

.genre-filter {
  padding-top: 40px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: var(--dark-theme-light-text-color);
  width: 173px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  background-color: var(--dark-color);
  border: 1px solid var(--light-color);
  border-radius: 8px;
  transition: all 250ms var(--action-transition);
}

.select-styled:hover {
  box-shadow: 1px 1px 14px 4px #ff6b086b;
}

.select-styled-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--dark-theme-dark-text-color);
}

.select-options {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #1c1c1c;
  color: var(--dark-theme-light-text-color);
  border: 1px solid var(--light-color);
  border-radius: 8px;
  height: 190px;
  overflow: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.select-options li {
  margin: 0;
  padding: 14px 0;
  text-indent: 15px;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: var(--accent-color);
}

.select-options li:not(:first-of-type) {
  border-top: 0.5px solid var(--dark-theme-dark-text-color);
}

.select-styled::after {
  content: '';
  background: url(../../images/icons/arrow-down.svg) center / cover no-repeat;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 16px;
  height: 16px;
}

/* ligth-theme */

body.light .select-styled {
  border-color: var(--light-theme-medium-text-color);
  background-color: var(--light-color);
}

body.light .select-options {
  background-color: var(--light-color);
  color: var(--light-theme-dark-text-color);
  border: 1px solid var(--light-theme-medium-text-color);
}

/* body.light .select-styled-content {
  color: var(--light-theme-medium-text-color);
} */

body.light .select-styled::after {
  content: '';
  background: url(../../images/icons/arrow-down-light.svg) center / cover
    no-repeat;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 16px;
  height: 16px;
}

/* body.light */

/* ======================== TABLET STYLES ======================== */

@media screen and (min-width: 768px) {
  .select {
    width: 144px;
    height: 44px;
  }

  .select-options {
    height: 265px;
  }

  .select-options li {
    height: 44px;
  }

  .select-styled {
    padding: 14px 86px 14px 20px;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  .select {
    width: 260px;
    height: 48px;
  }
  .select-options {
    height: 286px;
  }

  .select-options li {
    height: 47px;
  }

  .select-styled {
    padding: 14px 86px 14px 20px;
  }

  .select-styled-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
}
