<section class="search">
    <br class="container search-container">
      <h2 class="hidden" >section search block</h2>
      <form class="search-form" id="search-form">
        <div class="field-wrap-search-form">
          <div  class="search-input-wrapper">
            <input class="input-film-name-search-form" type="text" name="searchQuery" placeholder="Search" autocomplete="off">
            <svg class="input-close-svg hidden-search-form-input-close-svg hidden" width="12" height="12">
              <use href="/src/images/icons/other-icons.svg#closer-icon"></use>
            </svg>
          </div>
          <div class="year-input-container"><input type="number" class="yearpicker year-of-film-search-form" value="" placeholder="Year">
            <svg class="year-drop-arrow-icon" width="12" height="12">
              <use href="/src/images/icons/other-icons.svg#down-arrow-icon"></use>
            </svg>
          </div>
         
          <button class="search-form-btn" type="submit">
            <svg class="search-form-svg" width="20" height="20">
              <use href="/src/images/icons/other-icons.svg#search-big-icon"></use>
          </svg>
          </button>
        </div>
     
      </form>
    </div>
</section>
