<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<section class="footer">
  <div class="container footer-container">
    <div class="footer-content-wrapper">
      <p class="footer-text">
        © 2023 | All Rights Reserved | Developed with<svg
          class="footer-heart-icon"
          width="14"
          height="12.75"
        >
          <use href="images/icons/other-icons.svg#heart-icon"></use></svg>
        >by <a class="footer-text command-link" href="" data-modal-team-open>GoIT Students</a>
      </p>
    </div>
  </div>
</section>
