<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<section class="header">
  <div class="container">
    <div class="header-content-wrap">
      <a href="index.html">
        <svg class="logo-pic">
          <use href="images/icons/other-icons.svg#small-logo"></use>
        </svg>
      </a>
      <p class="logo-text">
        <a href="index.html"><span class="logo-text">Cinemania</span></a>
      </p>

      <a id="js-menu-btn" class="mobile-menu-link link" href="">MENU</a>

      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-item header-home">
            <a class="header-nav-link" href="index.html">HOME</a>
          </li>
          <li class="header-nav-item header-catalog">
            <a class="header-nav-link" href="catalog.html">CATALOG</a>
          </li>
          <li class="header-nav-item header-library">
            <a class="header-nav-link" href="library.html">MY LIBRARY</a>
          </li>
        </ul>
      </nav>

      <label for="toggle"
        ><input class="input" id="toggle" type="checkbox" checked/>
        <div class="toggle-wrapper">
          <span class="selector">
            <svg class="handle-icon">
              <use
                href="images/icons/theme-switcher/dark-theme-icons.svg#big-switch-handle"
              ></use>
            </svg>
          </span>
          <svg class="moon-icon dark-on">
            <use
              href="images/icons/theme-switcher/dark-theme-icons.svg#big-moon-icon"
            ></use>
          </svg>
          <svg class="sun-icon light-on">
            <use
              href="images/icons/theme-switcher/light-theme-icons.svg#small-sun-icon"
            ></use>
          </svg>
        </div>
      </label>
    </div>
  </div>
</section>

<!----------------- mobile-version ---------------->

<div id="js-mobile-backdrop" class="mobile-backdrop is-hidden">
  <div id="js-mob-menu" class="mob-menu menu-hidden">
    <div class="mob-logo">
      <a href="index.html">
        <svg class="logo-pic" width="32" height="32">
          <use href="images/icons/other-icons.svg#small-logo"></use>
        </svg>
      </a>
    </div>
    <ul class="mob-nav-list">
      <li><a class="mob-nav-link" href="index.html">home</a></li>
      <li><a class="mob-nav-link" href="catalog.html">catalog</a></li>
      <li><a class="mob-nav-link" href="library.html">my library</a></li>
    </ul>
  </div>
</div>
