<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<section class="header">
  <div class="container header-container">
    <a class="header-logo" href="index.html">Cinemania</a>
    <button class="mob-menu-btn" type="button">menu</button>
    <a class="mobile-home-link link" href="">HOME</a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item header-home">
          <a href="index.html">HOME</a>
        </li>
        <li class="header-nav-item header-catalog">
          <a href="catalog.html">CATALOG</a>
        </li>
        <li class="header-nav-item header-library">
          <a href="library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>

    <button class="color-switch">🌓</button>
  </div>

  <!----------------- mobile-version ---------------->

  <button class="mob-menu-btn" type="button">menu</button>

  <div class="modal-backdrop backdrop">
    <div class="mob-menu">
      <div class="menu-container">
        <nav class="header-nav-mob">
          <ul class="header-nav-list">
            <li class="header-nav-item header-home">
              <a class="mobile-home-link" href="index.html">HOME</a>
            </li>
            <li class="header-nav-item header-catalog">
              <a class="mobile-home-link" href="catalog.html">CATALOG</a>
            </li>
            <li class="header-nav-item header-library">
              <a class="mobile-home-link" href="library.html">MY LIBRARY</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
