/* ======================== MOBILE STYLES ======================== */

/* body.light .hero-title */

.header {
  position: absolute;
  top: 40px;
  width: 100%;

  background-color: var(--dark-color);

  height: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  display: none;
}

.header-nav {
  display: none;
}

.mobile-home-link {
  margin-left: auto;
  margin-right: auto;

  font-size: 12px;
  font-weight: var(--medium);
  line-height: 14.06px;
  color: var(--dark-theme-dark-text-color);
}

.color-switch {
  background: var(--linear-gradient-first);
  width: 44px;
  height: 18px;
  border-radius: 194px;
  border: none;
}

.switcher-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-right: 2.2;
  padding-left: 2.94;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */

  .header {
    height: 60px;

    padding-top: 12px;
    padding-bottom: 12px;
  }

  .header-logo-wrap {
    display: flex;
    justify-content: flex-start;
    align-items:center;
  }

  .logo-text {
    margin-left: 8px;
    display: flex;
    font-size: 24px;
    font-weight: var(--regular);
    color: var(--dark-theme-light-text-color);
  }

  .mobile-home-link {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-nav-item {
    color: var(--dark-theme-dark-text-color);
  }

  .mob-menu-btn {
    display: none;
  }

  .modal-backdrop.backdrop-mob-menu {
    display: none;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
}
