/* ======================== MOBILE STYLES ======================== */

/* body.light .hero-title */


.header {
  background-color: var(--dark-color);
  height: 48px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logotype-box {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.logo-text {
  display: none;
}

.header-nav {
  display: none;
}

.mobile-home-link {
  font-size: 12px;
  font-weight: var(--medium);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  color: var(--dark-theme-dark-text-color);
}

.color-switch {
  background: var(--linear-gradient-first);
  width: 44px;
  height: 18px;
  border-radius: 194px;
  border: none;
}

.switcher-icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.moon-icon {
  margin-left: 2.94;
  margin-top: 3.75;
  margin-bottom: 4.5;
}

.handle-icon {
  margin-right: 2.2;
  margin-top: 2.25;
  margin-bottom: 2.25;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .header {
    height: 60px;
  }

  .mobile-home-link {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
  }

  .header-logo {
    display: flex;
    margin-right: 59px;

    font-size: 24px;
    font-weight: var(--regular);
    color: var(--dark-theme-light-text-color);
  }

  .header-nav-item {
    color: var(--dark-theme-dark-text-color);
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
}
