/* ======================== MOBILE STYLES ======================== */
.header {
  position: absolute;
  top: 40px;
  width: 100%;

  background-color: var(--dark-color);
  height: 48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: auto;

  transform: translateX(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 76%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 20px;

  background: #171717;
  border-radius: 0px 8px 8px 0px;
}

.menu-container {
  max-width: 266px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.header-logo {
  display: none;
}

.header-nav {
  display: none;
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-home-link {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;

  color: var(--dark-theme-light-text-color);
  font-size: 14px;
  font-weight: var(--medium);
}

.color-switch {
  margin-left: 164px;
  background: var(--linear-gradient-first);
  width: 60px;
  height: 24px;
  border-radius: 194px;
  border: none;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .header {
    height: 60px;
  }

  .header-nav-list {
    flex-direction: row;
  }

  .mobile-home-link {
    display: none;
  }

  .header-nav {
    display: flex;
  }

  .header-logo {
    display: flex;
    margin-right: 59px;

    font-size: 24px;
    font-weight: var(--regular);
    color: var(--dark-theme-light-text-color);
  }

  .header-nav-item {
    color: var(--dark-theme-dark-text-color);
  }

  .mob-menu-btn {
    display: none;
  }

  .modal-backdrop.backdrop {
    display: none;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
}
