<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<section class="home-hero">
  <div class="container">
    <div class="home-hero-content">
      <h1 class="hidden">Movie of the day</h1>
      <h2 class="home-hero-title">Let's Make Your Own Cinema</h2>
      <p class="home-hero-description">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.<span
          >Decorate your space, choose your films, and stock up on snacks for
          the full experience.</span
        >
      </p>
      <button
        class="main-accent-sml-btn btn"
        onclick="window.location.href='/catalog.html'"
      >
        Get Started
      </button>
    </div>
    <div class="home-hero-api-movie">
      <div class="home-hero-api-movie-con">
        <h2 class="home-hero-api-movie-name">Ghosted</h2>
        <div class="home-hero-api-movie-rating">
          <ul class="film-rating-hero">
            <li class="rating-item-hero">
              <img
                class="rating-icon-hero"
                src="./images/icons/stars/star-full.svg"
                alt=""
              />
            </li>
            <li class="rating-item-hero">
              <img
                class="rating-icon-hero"
                src="./images/icons/stars/star-full.svg"
                alt=""
              />
            </li>
            <li class="rating-item-hero">
              <img
                class="rating-icon-hero"
                src="./images/icons/stars/star-full.svg"
                alt=""
              />
            </li>
            <li class="rating-item-hero">
              <img
                class="rating-icon-hero"
                src="./images/icons/stars/star-half.svg"
                alt=""
              />
            </li>
            <li class="rating-item-hero">
              <img
                class="rating-icon-hero"
                src="./images/icons/stars/star-empty.svg"
                alt=""
              />
            </li>
          </ul>
        </div>
        <p class="home-hero-api-movie-description">
          Salt-of-the-earth Cole falls head over heels for enigmatic Sadie — but
          then makes the shocking discovery that she's a secret agent.
        </p>
        <div class="home-hero-api-movie-btns">
          <button class="main-accent-sml-btn btn" id="btn-watch-trailer">Watch trailer</button>
          <button class="rm-light-bcg-btn btn">More details</button>
        </div>
      </div>
      <div class="home-hero-api-movie-bg">
        <img
          src="https://image.tmdb.org/t/p/w300/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg"
          srcset="
            https://image.tmdb.org/t/p/w780/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg   320w,
            https://image.tmdb.org/t/p/w780/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg   768w,
            https://image.tmdb.org/t/p/w1280/5YZbUmjbMa3ClvSW1Wj3D6XGolb.jpg 1280w
          "
          sizes="(max-width: 320px) 320px,
              (max-width: 768px) 380px,
              1280px"
          alt="Guardians of the Galaxy Vol. 3"
        />
      </div>
    </div>
  </div>
</section>
