<!--
    ❗️❗️❗️ The path to images from the HTML partial
    is the same as from the index.html file
  -->
<!-- <img src="images/logo.png" alt="" width="320" /> -->

<section class="home-hero">
  <div class="container">
    <div class="home-hero-content">
      <h1 class="hidden">Movie of the day</h1>
      <h2 class="home-hero-title">Let's Make Your Own Cinema</h2>
      <p class="home-hero-description">
        Is a guide to creating a personalized movie theater experience. You'll
        need a projector, screen, and speakers.<span>Decorate your space, choose your films, and stock up on snacks for
          the full experience.</span>
    </p>
      <button class="main-accent-btn btn">Get Started</button>
    </div>
  </div>
</section>
