/* @import '/src/css/components/container.css';

@import '/src/css/components/buttons.css';

@import '/src/css/utils/hidden.css';

@import '/src/css/utils/variables.css'; */

/* ======================== MOBILE STYLES ======================== */

/* колір шрифта інпута, іконку */

/* body.light .input-film-name-search-form{


}

.search {
}
.container {
} */
.search-container{
    background-color: var(--dark-color);
    padding-top: 40px;
padding-bottom: 16px;
}

/* .section-search-block {
}

.search-form {
} */

.field-wrap-search-form {
    display: flex;   
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 12px;


}
/* .film-name-search-form {
    
} */
.input-film-name-search-form {
    color: var(--dark-theme-dark-text-color);
    background-color: var(--dark-color);
    border: 1px solid var(--light-color);
    border-radius: 8px;
padding: 10px 142px 10px 20px;

width: 224px;
height: 40px;

font-family: inherit;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}

body.light .input-film-name-search-form{
    color: var(--light-theme-medium-text-color);
    background-color: #F5F5F5;
    border: 1px solid var(--light-color);
 

}
/* .modal-span {
} */
.year-of-film-search-form {
    color: var(--dark-theme-dark-text-color);
    background-color: var(--dark-color);
    width: 95px;
height: 40px;
border: 1px solid var(--light-color);
border-radius: 8px;

font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.search-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
height: 40px;
}
.search-form-svg {
    fill: blue;
    background-color: red;
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width:768px)  {
    /* .container прописувати не потрібно */

}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width:1280px)  {
    /* .container прописувати не потрібно */
    
}