/* ======================== MOBILE STYLES ======================== */

.trailer-modal-backdrop{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  background-color:rgba(0, 0, 0, 0.6);
  overflow: auto;

  transition: all 250ms var(--action-transition);
}

.trailer-modal-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: var(--action-transition);
}


.trailer-modal {
  display: flex;
  justify-content: center;
  align-items: center;


  position: fixed;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  height: 289px;
  background: var(--dark-color);
  border-radius: 20px;
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  transition: var(--action-transition);
}

body.light .trailer-modal {
  background: var(--light-color);
}

.trailer-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.trailer-error-info {
  font-size: 16px;
  line-height: 1.19;
  font-weight: var(--medium);
  color: var(--light-color);
}

body.light .trailer-error-info {
  color: var(--dark-color);
}

.close-trailer-btn {
  display: block;
  position: absolute;
  top: 20;
  right: 20;
  color: #ffffff;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  stroke: var(--light-color);
}

body.light .close-trailer-btn {
  color: var(--dark-color);
}

/* ======================== TABLET STYLES ======================== */
@media screen and (min-width: 768px) {
  /* .container прописувати не потрібно */
  .trailer-modal {
    width: 700px;
    height: 400px;
   
  }

  .trailer-modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
  }



  .trailer-modal-content img {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}

/* ======================== DESKTOP STYLES ======================== */
@media screen and (min-width: 1280px) {
  /* .container прописувати не потрібно */
  .trailer-modal {
    width: 700px;
    height: 400px;
  
  }

  .close-trailer-btn {
    margin-right: 0;
    margin-left: auto;
  }
}